@model SICModel
<div>
    <form method="post">
        <h1>@Model.Title</h1>
        @Html.ValidationSummary()
        <button type="submit">save</button>
    @Html.EditorFor(m => m.Model)
    <button type="submit">save</button>
    </form>
</div>
